	.bar {
	  fill: steelblue;
	}

	.bar:hover {
	  fill: brown;
	}

	.axis {
	  font: 13px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

	.x.axis path {
	  /*display: none;*/
	}

	#slider { 
		margin: 10px; 
	}

	.sliderContainer {
		width: 600px;
		padding: 20px;
	}


	.line {
	  fill: none;
	  stroke: steelblue;
	  stroke-width: 1.5px;
	}


	#Title {
		height:50px;
		padding:10px;
	}

	div.mapAndbar {
		height:600px;
		padding:10px;
	}

	#Map {
		/*height:500px;*/
		width:750px;
		float:left;
		padding:5px;
		height: 600px;
	}

	#Bar_plot {
		width:240px;
		float:left;
		padding:10px;
		height:400px;
	}

	div#Date_slider {
/*		position:relative;
		top:580px;*/
/*		padding:20px;*/
		font-family: 'Raleway', sans-serif;
	}


	div#lines {
		height:700px;
		padding:40px;
	}

	div#contact {
		height:700px;
		padding:40px;
	}

	circle.topic1 {
		fill:#48A36D;
		stroke:#ffffff;
		fill-opacity:0.4;
	}

	circle.topic2 {
		fill:#E05A6D;
		stroke:#ffffff;
		fill-opacity:0.4;
	}

	circle.topic4 {
		fill:#80A8CE;
		stroke:#ffffff;
		fill-opacity:0.4;
	}

	circle.topic5 {
		fill:#E37756;
		stroke:#ffffff;
		fill-opacity:0.4;
	}

	circle.topic6 {
		fill:#E3CF6D;
		stroke:#ffffff;
		fill-opacity:0.4;
	}

	circle.topic7 {
		fill:#E39158;
		stroke:#ffffff;
		fill-opacity:0.4;
	}